%h1 Overall Efficiency
//= progress_bar(goals_complete_percentage(@all_completed_goals, @all_goals), :color => 'purple', :rounded=>true) 
//%label Daily goalset:
//= @daily_goalsets
//%label All GoalSets:
//- @goalsets.each do |dated_goalset|
//	=dated_goalset
%h2 Goal Sets
- @goalsets.each do |gs|
	- if gs.daily?
		%label Daily #{gs} #{gs.nil?}
	- else
		%label Today #{gs} #{gs.nil?}

	
