%div{:class=>"row"}
	%div{:class=>"col feature"}
		%div{:id=>"efficiency-section", :class=>"box"}
			= render :partial => 'efficiency'
	%div{:class=>"col feature"}
		%div{:id=>"goalset-section"}
			=render :partial => 'dated_goalset'
	%div{:class=>"col feature"}
		%div{:id=>"goals-form", :class=>"box"}
			%div{:id=>"goalset_errors"}
			= render :partial=>"form" 




